start_urls:
https://graphite.readthedocs.io/
https://groovy-lang.org/
https://gruntjs.com/
https://handlebarsjs.com/
https://haskell.org/
https://hex.pm/
https://hexdocs.pm/
https://httpd.apache.org/
https://i3wm.org/
https://jasmine.github.io/
https://readthedocs.org/
https://redis.io/
https://redux.js.org/
https://requirejs.org/
https://rethinkdb.com/
https://ruby-doc.org/
https://ruby-lang.org/
https://vitest.dev/
https://vuejs.org/
https://vueuse.org/
additional_allowed_domains:
angular.dev
nginx.com
max_downloads:10000
max_downloads_per_domain:500